* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: 'Karla', Roboto, sans-serif
}
html, body, ul, ol, fieldset {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  line-height: 1;
  color: #2d2d2d;
}
.fx{
  display: flex;
}
.center{
  justify-content: center;
}
.footer {
  background: #fff;
  box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.175) !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer button{
  padding: 0 1.5rem;
  width:100%;
  text-transform: initial;
  color: #fff;
  background: linear-gradient(87deg, #fb6340 0, #da1c5f 100%) !important;
  border-color: #fb6340;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 7px;
  outline: none;
}
.form-element{
  display: flex;
  align-items: center;
  margin:20px;
}
.form-element label{
  width:200px;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.loadmore {
  font-size: 1.1rem;
  cursor: pointer;
  margin: 25px 5px 5px 0;
  padding: 5px 10px;
  outline: none;
  text-align: center;
  border-radius: 2px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  font-weight: 700;
}
.button{
  margin-top:20px;
  width:100%;
  text-transform: initial;
  color: #fff;
  background: linear-gradient(87deg, #fb6340 0, #da1c5f 100%) !important;
  border-color: #fb6340;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 7px;
  outline: none;
}
img {
  max-width: 100%;
}
.sitecontent img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .sitecontent img {
    height: 478px;
    object-fit: cover;
    object-position: left;
  }
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 10px 0 0;
  }
}
.sitecontent {
  margin-top: 45px;
}
@media screen and (max-width: 800px) {
  .sitecontent {
    margin-top: 10px;
  }
}
.sitecontent .container {
  max-width: 1322px;
}
.center {
  text-align: center;
}
.right {
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .only-desktop {
    display: none !important;
  }
}
.only-mobile {
  display: none !important;
}
@media screen and (max-width: 800px) {
  .only-mobile {
    display: inline-block !important;
  }
  .only-mobile.block {
    display: block !important;
  }
}
h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1.125rem;
}
h4 {
  text-transform: uppercase;
  font-size: 1.01rem;
  letter-spacing: 2px;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
button {
  cursor: pointer;
}
.title {
  font-size: 28px;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
input[type="text"],
input[type="tel"],
input[type="search"],
textarea {
  width: 100%;
  padding: 8px 4px 8px 10px;
  border: 1px solid #f3f3f3;
  border-radius: 1px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Raleway", "Lato", Arial, sans-serif;
  color: #47494e;
  font-size: 1rem;
  outline: none;
}
.variants {
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  display: block;
  white-space: nowrap;
  border-radius: 3px;
  border-width: 1px;
  text-align: center;
  border-color: #ccc;
  border-style: solid;
  background-color: #fff;
}
@media screen and (min-width: 450px) {
  .only-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 450px){
  .only-desktop {
    display: none !important;
  }
}
.pending {
  color: blue;
}
.shipped {
  color: skyblue;
}
.delivered {
  color: green;
}
.cancelled {
  color: red;
}
.circle span {
  background-color: gray;
  color: #fff;
}
.pending span {
  background-color: blue;
  color: #fff;
}
.shipped span {
  background-color: skyblue;
  color: #fff;
}
.delivered span {
  background-color: green;
  color: #fff;
}
.cancelled span {
  background-color: red;
  color: #fff;
}
.active1 p {
  border-bottom: 2px solid blue;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  font-weight: 700;
}
.active2 p {
  border-bottom: 2px solid skyblue;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  font-weight: 700;
}
.active3 p {
  border-bottom: 2px solid green;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  font-weight: 700;
}
.active4 p {
  border-bottom: 2px solid red;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  font-weight: 700;
}
.active span::before {
  content: "\2713";
}
.order-status div {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
}
.order-status {
  width: 100%;
  border-bottom: 1px solid #e1e6eb;
  text-align: center;
  float: left;
}
.columns.is-mobile {
  display: flex;
}
.flex-row-nocenter {
  display: flex;
  flex-direction: row;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}
.black-color {
  color: black;
}
.gray {
  color: gray;
}
.big-button {
  text-transform: initial;
  color: #fff;
  background: linear-gradient(87deg, #fb6340 0, #da1c5f 100%) !important;
  border-color: #fb6340;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 7px;
  outline: none;
   font-family: Karla, Roboto, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}